
<!--ЦЕНТРАЛЬНЫЙ БЛОК-->
<main>
  <div class="container">
    <div class="row">
    <!--Заголовок-->
    <nav class="grey lighten-4" role="navigation">
      <div class="nav-wrapper">
        <ul class="hide-on-small-only">
          <li class="left-align"><a href="sass.html" class="light-blue-text">Грузовые</a></li>
          <li class="left-align"><a href="badges.html" class="light-blue-text">Легковые</a></li>
          <li class="left-align"><a href="collapsible.html" class="light-blue-text">Диски</a></li>
          <li class="left-align"><a href="collapsible.html" class="light-blue-text">Б/У</a></li>
        </ul>
        <ul class="hide-on-med-and-up">
          <li class="left-align"><a class="light-blue-text"><i class="material-icons">view_headline</i></a></li>
        </ul>
      </div>
    </nav>
    </div>

    <!--КРОШКИ-->
    <div class="row">
    <nav class="light-blue">
      <div class="nav-wrapper">
        <div class="col s12">
          <a href="#!" class="breadcrumb"><i class="material-icons">home</i></a>
          <a href="#!" class="breadcrumb">КРОШКИ</a>
        </div>
      </div>
    </nav>
    </div>
    <!--ПРАЙС-->
    <app-price-list> </app-price-list>
  </div>

</main>

<!--ПОДВАЛ-->
<footer class="page-footer orange lighten-2">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">ООО Дакар</h5>
        <p class="grey-text text-lighten-4">
          Один из крупнейших дистрибьюторов шин и дисков в России.
        </p>
      </div>
      <div class="col l3 s12">
        <h5 class="white-text">Информация</h5>
        <ul>
          <li><a class="white-text" href="#!">О нас</a></li>
          <li><a class="white-text" href="#!">Информация о доставке</a></li>
          <li><a class="white-text" href="#!">Политика безопасности</a></li>
          <li><a class="white-text" href="#!">Условия соглашения</a></li>
        </ul>
      </div>
      <div class="col l3 s12">
        <h5 class="white-text">Служба поддержки</h5>
        <ul>
          <li><a class="white-text" href="#!">Связаться с нами</a></li>
          <li><a class="white-text" href="#!">Возврат товара</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      Made by
      <a class="orange-text text-lighten-3" href="http://materializecss.com"
      >Materialize</a
      >
    </div>
  </div>
</footer>

