table {
  border : solid 1px grey;
  border-collapse: collapse;

  td, th {
    border: 1px solid grey;
    padding: .5rem 1rem;
  }


}

div {
  &.row{
    border-bottom: 1px solid grey;
    margin-bottom: 0;
  }
}

//img {
//  &.activator{
//    width: 100%;
//    height: 100%;
//  }
//}
